In [1]:
import pandas as pd

In [2]:
df = pd.read_html('/Users/garimajain/Desktop/Berkeley.html')

In [3]:
df1 = df[0]

In [4]:
del df1['Unnamed: 0']

In [5]:
df1

                                                    A       B       C       D
0                       Criminal Offenses - On Campus  2013.0  2014.0  2015.0
1                   Murder/Non-negligent manslaughter     1.0     0.0     0.0
2                              Negligent manslaughter     0.0     0.0     0.0
3                                                Rape     NaN    15.0    13.0
4                                              Incest     NaN     0.0     0.0
5                                      Statutory Rape     NaN     1.0     0.0
6                                            Fondling     NaN     9.0    24.0
7                             Sex offenses - Forcible    13.0     NaN     NaN
8   Sex offenses - non-forcible (incest and statut...     0.0     NaN     NaN
9                                             Robbery    16.0    23.0     9.0
10                                 Aggravated assault    14.0     5.0     7.0
11                                           Burglary    56.0    61.0    34.0
12                                Motor vehicle theft    11.0    20.0    11.0
13                                              Arson     3.0     6.0     0.0

In [6]:
df1.columns = ['Criminal Offenses - On Berkeley Campus','2013', '2014', '2015']

In [7]:
df2 = df1.drop([0])

In [8]:
df2

               Criminal Offenses - On Berkeley Campus  2013  2014  2015
1                   Murder/Non-negligent manslaughter   1.0   0.0   0.0
2                              Negligent manslaughter   0.0   0.0   0.0
3                                                Rape   NaN  15.0  13.0
4                                              Incest   NaN   0.0   0.0
5                                      Statutory Rape   NaN   1.0   0.0
6                                            Fondling   NaN   9.0  24.0
7                             Sex offenses - Forcible  13.0   NaN   NaN
8   Sex offenses - non-forcible (incest and statut...   0.0   NaN   NaN
9                                             Robbery  16.0  23.0   9.0
10                                 Aggravated assault  14.0   5.0   7.0
11                                           Burglary  56.0  61.0  34.0
12                                Motor vehicle theft  11.0  20.0  11.0
13                                              Arson   3.0   6.0   0.0

In [9]:
df2.to_csv('Berkeley Campus Safety.csv', index=False, encoding='utf-8')